#jinja2: trim_blocks: True, lstrip_blocks: True

###############################################################################
#                              GLOBAL TAGS                                    #
###############################################################################

[global_tags]

# Telegraf Tags
{% if telegraf_tags is defined and telegraf_tags is iterable %}
{% for key, value in telegraf_tags.items() | default('[]') %}
{% if value == "true" or value == "false" or value is number %}
  {{ key }} = {{ value }}
{% else %}
  {{ key }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}

# AWS and EC2 Tags
{% if ec2_tags is defined and ec2_tags is iterable %}
{% for key, value in ec2_tags.items() | default() %}
{% if value == "true" or value == "false" or value is number %}
  {{ telegraf_aws_tags_prefix|default('') }}{{ key }} = {{ value }}
{% else %}
  {{ telegraf_aws_tags_prefix | default('') }}{{ key }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}

###############################################################################
#                                  AGENT                                      #
###############################################################################

[agent]
{% if telegraf_agent_configs is defined and telegraf_agent_configs is iterable %}
{% for key, value in telegraf_agent_configs.items() | default() %}
{% if value == "true" or value == "false" or value is number %}
{{ key }} = {{ value }}
{% else %}
{{ key }} = "{{ value }}"
{% endif %}
{% endfor %}
{% endif %}

###############################################################################
#                                  OUTPUTS                                    #
###############################################################################

{% for plugin in telegraf_output_plugins | default([]) %}
[[outputs.{{ plugin.name }}]]
{% if plugin.options is defined %}
{% for key, value in plugin.options.items() %}
{% if value is not mapping %}
{% if value is sequence and value is not string %}
{% if value[0] is number %}
    {{ key }} = [ {{ value|join(', ') }} ]
{% else %}
    {{ key }} = [ '{{ value|join("', '") }}' ]
{% endif %}
{% else %}
{% if value == "true" or value == "false" or value is number %}
    {{ key }} = {{ value }}
{% else %}
    {{ key }} = "{{ value }}"
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% for key, value in plugin.options.items() %}
{% if value is mapping %}
    [outputs.{{ plugin.name }}.{{ key }}]
{% for lv2_key, lv2_value in value.items() %}
{% if lv2_value is sequence and lv2_value is not string %}
{% if lv2_value[0] is number %}
      {{ lv2_key }} = [ {{ lv2_value|join(', ') }} ]
{% else %}
      {{ lv2_key }} = [ '{{ lv2_value|join("', '") }}' ]
{% endif %}
{% else %}
{% if lv2_value == "true" or lv2_value == "false" or lv2_value is number %}
      {{ lv2_key }} = {{ lv2_value }}
{% elif 'ALL' in lv2_key %}
      "{{ lv2_key }}" = "{{ lv2_value }}"
{% else %}
      {{ lv2_key }} = "{{ lv2_value }}"
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}


###############################################################################
#                                  PLUGINS                                    #
###############################################################################

{% for plugin in telegraf_plugins | default ([]) %}
[[inputs.{{ plugin.name }}]]
{% if plugin.options is defined %}
{% for key, value in plugin.options.items() %}
{% if value is not mapping %}
{% if value is sequence and value is not string %}
{% if value[0] is number %}
    {{ key }} = [ {{ value|join(', ') }} ]
{% else %}
    {{ key }} = [ '{{ value|join("', '") }}' ]
{% endif %}
{% else %}
{% if value == "true" or value == "false" or value is number %}
    {{ key }} = {{ value }}
{% else %}
    {{ key }} = "{{ value }}"
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% for key, value in plugin.options.items() %}
{% if value is mapping %}
    [inputs.{{ plugin.name }}.{{ key }}]
{% for lv2_key, lv2_value in value.items() %}
{% if lv2_value is sequence and lv2_value is not string %}
{% if lv2_value[0] is number %}
      {{ lv2_key }} = [ {{ lv2_value|join(', ') }} ]
{% else %}
      {{ lv2_key }} = [ '{{ lv2_value|join("', '") }}' ]
{% endif %}
{% else %}
{% if lv2_value == "true" or lv2_value == "false" or lv2_value is number %}
      {{ lv2_key }} = {{ lv2_value }}
{% elif 'ALL' in lv2_key %}
      "{{ lv2_key }}" = "{{ lv2_value }}"
{% else %}
      {{ lv2_key }} = "{{ lv2_value }}"
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

###############################################################################
#                              service PLUGINS                                #
###############################################################################
